<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>查询我的QQ信息</title>
</head>
<body>

<p>查询我的QQ信息</p>
<form action="" method="get">
    <p>
        <span>输入你的QQ号：</span>
        <input type="text" name="qq">
    </p>
    <p>
        <span>输入你的name：</span>
        <input type="text" name="name">
    </p>
    <p>
        <input type="submit" value="提交">
    </p>
</form>

{% if not info.code %}
    <div>
        <p>
            <span>提交结果</span>{{info.qq}}
        </p>
        <p>
            <span>年龄：</span>{{info.age}}
        </p>
    </div>
{% endif %}

</body>
</html>